aioredis==2.0.0
APScheduler==3.8.1
aredis==1.1.8
asgiref==3.8.1
async-timeout==4.0.3
click==8.1.7
colorama==0.4.6
fastapi==0.68.0
h11==0.14.0
pydantic==1.10.14
pytz==2024.1
redis==3.5.3
six==1.16.0
starlette==0.14.2
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
uvicorn==0.15.0
